@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 9% 85%;
    --foreground: 0 25% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 25% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 25% 13%;
    --primary: 98 25% 64%;
    --primary-foreground: 0 25% 13%;
    --secondary: 208 22% 40%;
    --secondary-foreground: 40 9% 98%;
    --muted: 40 9% 94%;
    --muted-foreground: 208 22% 42%;
    --accent: 202 40% 58%;
    --accent-foreground: 0 25% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 9% 98%;
    --border: 40 9% 91%;
    --input: 40 9% 91%;
    --ring: 202 40% 58%;
    --chart-1: 98 25% 64%;
    --chart-2: 0 84.2% 60.2%;
    --chart-3: 208 22% 40%;
    --chart-4: 202 40% 58%;
    --chart-5: 0 25% 13%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 25% 13%;
    --foreground: 40 9% 85%;
    --card: 0 25% 18%;
    --card-foreground: 40 9% 85%;
    --popover: 0 25% 18%;
    --popover-foreground: 40 9% 85%;
    --primary: 98 25% 64%;
    --primary-foreground: 0 25% 13%;
    --secondary: 208 22% 40%;
    --secondary-foreground: 40 9% 98%;
    --muted: 0 25% 22%;
    --muted-foreground: 40 9% 60%;
    --accent: 202 40% 58%;
    --accent-foreground: 0 25% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 9% 96%;
    --border: 0 25% 25%;
    --input: 0 25% 25%;
    --ring: 98 25% 64%;
    --chart-1: 98 25% 64%;
    --chart-2: 0 84.2% 60.2%;
    --chart-3: 208 22% 40%;
    --chart-4: 202 40% 58%;
    --chart-5: 0 25% 13%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
