@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 4% 10% / 0.75;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 82% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 262 82% 58%;
    
    --chart-1: 262 80% 50%;
    --chart-2: 180 70% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 4% 10% / 0.75;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 82% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 262 82% 58%;
    
    --chart-1: 262 80% 50%;
    --chart-2: 180 70% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
