@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 100% 93%;
    --foreground: 11 33% 20%;
    --sidebar-bg: 11 33% 37%;
    --card: 0 0% 100%;
    --card-foreground: 11 33% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 11 33% 20%;
    --primary: 178 31% 47%;
    --primary-foreground: 38 100% 95%;
    --secondary: 148 34% 85%;
    --secondary-foreground: 11 33% 20%;
    --muted: 38 100% 90%;
    --muted-foreground: 11 33% 45%;
    --accent: 21 100% 90%;
    --accent-foreground: 11 33% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 21 100% 86%;
    --input: 21 100% 86%;
    --ring: 178 31% 47%;
    --chart-1: 178 31% 47%; /* Teal */
    --chart-2: 11 33% 37%; /* Brown */
    --chart-3: 148 34% 63%; /* Light Green */
    --chart-4: 21 100% 86%; /* Peach */
    --chart-5: 178 31% 60%; /* Lighter Teal */
    --radius: 0.75rem;
  }
  .dark {
    --background: 11 33% 10%;
    --foreground: 38 100% 93%;
    --sidebar-bg: 11 33% 10%;
    --card: 11 33% 15%;
    --card-foreground: 38 100% 93%;
    --popover: 11 33% 15%;
    --popover-foreground: 38 100% 93%;
    --primary: 178 31% 57%;
    --primary-foreground: 11 33% 10%;
    --secondary: 148 34% 20%;
    --secondary-foreground: 38 100% 93%;
    --muted: 148 34% 20%;
    --muted-foreground: 38 100% 80%;
    --accent: 21 100% 25%;
    --accent-foreground: 38 100% 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 11 33% 25%;
    --input: 11 33% 25%;
    --ring: 178 31% 57%;
    --chart-1: 178 31% 57%;
    --chart-2: 11 33% 60%;
    --chart-3: 148 34% 73%;
    --chart-4: 21 100% 86%;
    --chart-5: 178 31% 70%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
