@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 9% 98%;
    --foreground: 13 13% 13%;

    --card: 0 0% 100%;
    --card-foreground: 13 13% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 13 13% 13%;

    --primary: 202 53% 61%;
    --primary-foreground: 0 0% 100%;

    --secondary: 208 19% 44%;
    --secondary-foreground: 0 0% 100%;

    --muted: 40 9% 94%;
    --muted-foreground: 208 22% 42%;
    
    --accent: 98 20% 92%;
    --accent-foreground: 98 15% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 40 9% 91%;
    --input: 40 9% 91%;
    --ring: 202 53% 61%;
    
    --chart-1: 202 53% 61%;
    --chart-2: 98 20% 65%;
    --chart-3: 208 19% 44%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 13 13% 13%;
    --foreground: 40 9% 96%;

    --card: 13 10% 18%;
    --card-foreground: 40 9% 96%;

    --popover: 13 10% 18%;
    --popover-foreground: 40 9% 96%;

    --primary: 202 53% 61%;
    --primary-foreground: 13 13% 13%;

    --secondary: 208 19% 30%;
    --secondary-foreground: 40 9% 94%;

    --muted: 13 10% 22%;
    --muted-foreground: 208 19% 60%;
    
    --accent: 98 15% 25%;
    --accent-foreground: 40 9% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 9% 96%;
    
    --border: 13 8% 25%;
    --input: 13 8% 25%;
    --ring: 202 53% 61%;
    
    --chart-1: 202 53% 61%;
    --chart-2: 98 20% 65%;
    --chart-3: 208 19% 44%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
