@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 83% 77%;
    --foreground: 195 65% 8%;
    --sidebar-bg: 195 65% 8%;
    --card: 170 18% 49%;
    --card-foreground: 0 0% 100%;
    --popover: 170 18% 49%;
    --popover-foreground: 0 0% 100%;
    --primary: 177 61% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 18% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 170 18% 60%;
    --muted-foreground: 195 65% 25%;
    --accent: 177 61% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359 86% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 170 18% 40%;
    --input: 170 18% 40%;
    --ring: 177 61% 29%;
    --chart-1: 177 61% 29%;
    --chart-2: 33 80% 60%;
    --chart-3: 359 86% 56%;
    --chart-4: 177 61% 45%;
    --chart-5: 170 18% 35%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 195 65% 8%;
    --foreground: 0 0% 96%;
    --sidebar-bg: 195 65% 8%;
    --card: 170 18% 20%;
    --card-foreground: 0 0% 96%;
    --popover: 170 18% 20%;
    --popover-foreground: 0 0% 96%;
    --primary: 177 61% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 18% 30%;
    --secondary-foreground: 0 0% 96%;
    --muted: 195 65% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 177 61% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359 86% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 170 18% 25%;
    --input: 170 18% 25%;
    --ring: 177 61% 29%;
    --chart-1: 177 61% 29%;
    --chart-2: 170 18% 49%;
    --chart-3: 33 83% 77%;
    --chart-4: 177 61% 45%;
    --chart-5: 170 18% 69%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
