@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 30% 94%;
    --foreground: 210 11% 18%;

    --sidebar-bg: 210 11% 18%;

    --card: 200 16% 26%;
    --card-foreground: 210 11% 95%;

    --popover: 200 16% 26%;
    --popover-foreground: 210 11% 95%;

    --primary: 30 78% 57%;
    --primary-foreground: 210 11% 98%;

    --secondary: 37 28% 70%;
    --secondary-foreground: 37 28% 20%;

    --muted: 43 80% 83%;
    --muted-foreground: 40 10% 37%;
    
    --accent: 28 78% 44%;
    --accent-foreground: 210 11% 98%;

    --destructive: 5 100% 64%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 10% 70%;
    --input: 40 10% 70%;
    --ring: 30 78% 57%;
    
    --chart-1: 30 78% 57%;
    --chart-2: 28 78% 44%;
    --chart-3: 5 100% 64%;
    --chart-4: 37 28% 59%;
    --chart-5: 200 50% 60%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 210 11% 12%;
    --foreground: 210 11% 85%;

    --sidebar-bg: 210 11% 18%;
    
    --card: 200 16% 26%;
    --card-foreground: 210 11% 95%;

    --popover: 200 16% 26%;
    --popover-foreground: 210 11% 95%;

    --primary: 30 78% 57%;
    --primary-foreground: 210 11% 10%;

    --secondary: 37 28% 45%;
    --secondary-foreground: 37 28% 95%;
    
    --muted: 210 11% 18%;
    --muted-foreground: 37 28% 65%;

    --accent: 28 78% 44%;
    --accent-foreground: 210 11% 98%;

    --destructive: 5 100% 64%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 16% 35%;
    --input: 200 16% 35%;
    --ring: 30 78% 57%;

    --chart-1: 30 78% 57%;
    --chart-2: 28 78% 44%;
    --chart-3: 5 100% 64%;
    --chart-4: 37 28% 59%;
    --chart-5: 200 50% 60%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
