@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 148 15% 68%;
    --foreground: 0 0% 10%;
    --sidebar-bg: 205 23% 90%;
    --card: 205 23% 59%;
    --card-foreground: 0 0% 10%;
    --popover: 205 23% 59%;
    --popover-foreground: 0 0% 10%;
    --primary: 274 18% 59%;
    --primary-foreground: 0 0% 10%;
    --secondary: 205 23% 59%;
    --secondary-foreground: 0 0% 10%;
    --muted: 148 15% 80%;
    --muted-foreground: 0 0% 25%;
    --accent: 274 18% 59%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 205 23% 50%;
    --input: 205 23% 50%;
    --ring: 274 18% 59%;
    --chart-1: 274 18% 59%;
    --chart-2: 205 23% 59%;
    --chart-3: 0 84% 60%;
    --chart-4: 274 18% 45%;
    --chart-5: 205 23% 45%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 320 60% 2.4%;
    --foreground: 0 0% 96%;
    --sidebar-bg: 320 60% 2.4%;
    --card: 205 23% 15%;
    --card-foreground: 0 0% 96%;
    --popover: 205 23% 15%;
    --popover-foreground: 0 0% 96%;
    --primary: 274 18% 59%;
    --primary-foreground: 0 0% 10%;
    --secondary: 205 23% 30%;
    --secondary-foreground: 0 0% 96%;
    --muted: 320 20% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 274 18% 59%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 205 23% 25%;
    --input: 205 23% 25%;
    --ring: 274 18% 59%;
    --chart-1: 274 18% 59%;
    --chart-2: 205 23% 59%;
    --chart-3: 0 84% 60%;
    --chart-4: 274 18% 75%;
    --chart-5: 205 23% 75%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
