@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 11% 95%;
    --foreground: 210 12% 20%;
    --card: 34 11% 98%;
    --card-foreground: 210 12% 20%;
    --popover: 34 11% 98%;
    --popover-foreground: 210 12% 20%;
    --primary: 31 65% 51%;
    --primary-foreground: 210 12% 10%;
    --secondary: 41 9% 39%;
    --secondary-foreground: 34 11% 98%;
    --muted: 34 11% 90%;
    --muted-foreground: 210 12% 40%;
    --accent: 38 88% 85%;
    --accent-foreground: 210 12% 20%;
    --destructive: 5 87% 66%;
    --destructive-foreground: 34 11% 98%;
    --border: 34 11% 85%;
    --input: 34 11% 85%;
    --ring: 31 65% 51%;
    --chart-1: 31 65% 51%;
    --chart-2: 5 87% 66%;
    --chart-3: 41 9% 39%;
    --chart-4: 210 12% 20%;
    --chart-5: 34 25% 65%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 12% 10%;
    --foreground: 34 11% 85%;
    --card: 210 12% 15%;
    --card-foreground: 34 11% 85%;
    --popover: 210 12% 15%;
    --popover-foreground: 34 11% 85%;
    --primary: 31 65% 51%;
    --primary-foreground: 210 12% 10%;
    --secondary: 41 9% 39%;
    --secondary-foreground: 34 11% 85%;
    --muted: 210 12% 20%;
    --muted-foreground: 34 11% 60%;
    --accent: 31 65% 51%;
    --accent-foreground: 210 12% 10%;
    --destructive: 5 70% 50%;
    --destructive-foreground: 34 11% 98%;
    --border: 210 12% 25%;
    --input: 210 12% 25%;
    --ring: 31 65% 51%;
    --chart-1: 31 65% 51%;
    --chart-2: 5 87% 66%;
    --chart-3: 41 9% 39%;
    --chart-4: 210 12% 20%;
    --chart-5: 34 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
