@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 75% 83%;
    --foreground: 200 15% 18%;
    --sidebar-bg: 200 15% 18%;
    --card: 202 17% 26%;
    --card-foreground: 45 75% 93%;
    --popover: 202 17% 26%;
    --popover-foreground: 45 75% 93%;
    --primary: 32 79% 56%;
    --primary-foreground: 200 15% 10%;
    --secondary: 38 30% 59%;
    --secondary-foreground: 200 15% 10%;
    --muted: 202 17% 36%;
    --muted-foreground: 200 15% 40%;
    --accent: 202 17% 36%;
    --accent-foreground: 45 75% 93%;
    --destructive: 6 100% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 38 11% 38%;
    --input: 38 11% 38%;
    --ring: 32 79% 56%;
    --chart-1: 32 79% 56%;
    --chart-2: 6 100% 64%;
    --chart-3: 38 30% 59%;
    --chart-4: 200 15% 18%;
    --chart-5: 38 11% 38%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 200 15% 10%;
    --foreground: 45 75% 83%;
    --sidebar-bg: 200 15% 18%;
    --card: 200 15% 18%;
    --card-foreground: 45 75% 83%;
    --popover: 200 15% 18%;
    --popover-foreground: 45 75% 83%;
    --primary: 32 79% 56%;
    --primary-foreground: 200 15% 10%;
    --secondary: 38 30% 59%;
    --secondary-foreground: 200 15% 10%;
    --muted: 200 15% 25%;
    --muted-foreground: 38 30% 79%;
    --accent: 200 15% 25%;
    --accent-foreground: 45 75% 83%;
    --destructive: 6 100% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 38 11% 38%;
    --input: 38 11% 38%;
    --ring: 32 79% 56%;
    --chart-1: 32 79% 56%;
    --chart-2: 6 100% 64%;
    --chart-3: 38 30% 59%;
    --chart-4: 45 75% 83%;
    --chart-5: 38 11% 38%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
    .bg-card {
        @apply backdrop-blur-md;
    }
    .bg-popover {
        @apply backdrop-blur-md;
    }
}
